/**
 * @file
 * Visual styles for Minimal_lite's dropdowns.
 */
.field--mt-dropdowns-block {
  text-align: right;
}
.header__section .field--mt-dropdowns-block {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .page-container-border-enabled .header-container .container-fluid .header-third .field--mt-dropdowns-block {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .header-third .field--mt-dropdowns-block {
    display: none;
  }
}
.dropdown-toggle {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0 10px;
  line-height: 38px;
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  border-width: 0px;
  border-radius: 100%;
}
.dropdown-toggle::after {
  border: 0;
  margin: 0;
  display: initial;
}
.header .header-third .dropdown {
  height: 40px;
}
.dropdown.show .dropdown-toggle {
  z-index: 10000;
  position: relative;
}
.dropdown-toggle .expanded-icon,
.dropdown-toggle .collapsed-icon {
  margin: 0 auto;
  height: 40px;
  font-size: 18px;
  display: none;
}
.dropdown.show .dropdown-toggle .expanded-icon {
  display: block;
}
.dropdown.show .dropdown-toggle .expanded-icon + .collapsed-icon {
  display: none;
}
.dropdown:not(.show) .dropdown-toggle .collapsed-icon {
  display: block;
}
.dropdown-menu {
  min-width: 335px;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
  border-radius: 0;
  opacity: 0;
}
.dropdown-menu.show {
  opacity: 1;
}
.fixed-header-enabled.onscroll .dropdown-menu {
  margin-top: 18px;
}
.region--white-background .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.95);
}
.region--gray-background .dropdown-menu {
  background-color: rgba(246, 246, 246, 0.95);
}
.header.region--gray-background .dropdown-menu {
  background-color: rgba(51, 51, 51, 0.95);
}
.region--black-background .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.95);
}
.region--white-pattern .dropdown-menu {
  background-image: url('../../images/white-pattern.png');
  background-repeat: repeat;
  background-position: 0 0;
}
.dropdown-menu .field__item + .field__item {
  padding-top: 20px;
}
